<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<form th:object="${checkitem}" action="/save" method="POST">
    Task: <input type="text" th:field="*{task}"/>
    Responsible: <input type="text" th:field="*{responsible}"/>
    <!--
    provade att ha med denna, men då gick det inte alls.
    <input type="hidden" th:if="${checkitem.id != null}" th:field="*{id}"/>-->
    <input type="submit" value="Save checkitem">
</form>

</body>
</html>